@import "tailwindcss";

@theme {
  /* Core Brand Colors */
  --color-primary: #0138A8;
  --color-secondary: #F3F4F3;
  --color-tertiary: #FBD219;
  --color-quaternary: #CE1226;

  /* Status Colors */
  --color-success: #10B981;
  --color-pending: #F59E0B;
  --color-danger: #DC2626;
  --color-information: #3B82F6;
  --color-ongoing: #2563EB;

  /* Neutral Templates */
  --color-primary-foreground: #1E293B;
  --color-secondary-foreground: #64748B;
  --color-border: #E2E8F0;
  --color-background: #F1F5F9;

  --animate-fadein: fadein 1s ease-in;

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(8px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}